<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<a href="/bicicleta"> atras </a>


    <form action="/bicicleta/create" method="POST">

        <input type="text" name="color"  placeholder="color">
        <input type="text" name="modelo" placeholder="modelo">
        <input type="text" name="latitud" placeholder="latitud">
        <input type="text" name="longitud" placeholder="longitud">
        <button type="submit">agregar</button>
    </form>
</body>
</html>