<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>color</th>
                <th>modelo</th>
                <th>ubicacion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            
                <% bicis.forEach( function (item) { %>
           <tr >
                  <td scope="row"><%= item.id %> </td>
                  <td><%= item.color %></td>
                  <td><%= item.modelo %></td>
                  <td><%= item.ubicacion %></td>     
                  <td> <a href="">modificar</a> <a href= 'bicicleta/<%= item.id %>' >  eliminar</a> </td>

            </tr>     
                  <% }) %>
            
        </tbody>
    </table>


      

      
</body>
</html>