<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/update.css">
    <title>Document</title>
</head>
<body >
   <div class="container">

    <form class="form" action="/bicicleta/update/<%= bici[0].id %>" method="POST">
           
    <div class="div">
         <label for="color"> color: </label> <input class="input" name="color" type="text" value="<%= bici[0].color %>">
    </div>

     <div class="div">
         <label for="modelo"> modelo: </label> <input class="input" name="modelo" type="text" value="<%= bici[0].modelo %>">
     </div>

     <div class="div">
         <label for="latitud"> latitud: </label> <input class="input" name="latitud" type="text" value="<%= bici[0].ubicacion[0] %>">
     </div>

     <div class="div">
         <label  for="longitud"> longitud: </label> <input class="input" name="longitud" type="text" value="<%= bici[0].ubicacion[1] %>">
     </div>

     <div class="div" > <button class="input-button"  type="submit">update</button> </div>

    </form>
       
   </div>

</body>
</html>