<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>

  <title>  </title>
</head>
<body>

  <div class="container">
  
  <header>
    <nav class="menu">
      <ol>
        <li><a href="">NOSOTROS</a></li>
        <li><a href="#list">BICICLETAS</a></li>
        <li><a href="">CONTACTOS</a></li>
      </ol>
    </nav>
  </header>

  <section class="section">
    <div id="mapid"> 

    

    </div>

    <div class="form">
      <form action="bicicleta/create" method="POST">
        <label for=""> create new bicicleta</label>
        <div  class="form-input"><input class="input" type="text" name="color"  placeholder="color"></div>
        <div  class="form-input"><input class="input" type="text" name="modelo" placeholder="modelo"></div>
        <div  class="form-input"><input class="input" type="text" name="latitud" placeholder="latitud"></div>
        <div  class="form-input"><input class="input" type="text" name="longitud" placeholder="longitud"></div>
        <div  class="form-input"> <button class="input-button" type="submit">agregar</button></div>
        
      </form>
    </div>

  </section>

  <section id='list'>
    <div class="list">
      <table class="list-tablet">
        <thead>
            <tr>
                <th>id</th>
                <th>color</th>
                <th>modelo</th>
                <th>ubicacion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            
                <% bicis.forEach( function (item) { %>
           <tr >
                  <td scope="row"><%= item.id %> </td>
                  <td><%= item.color %></td>
                  <td><%= item.modelo %></td>
                  <td><%= item.ubicacion %></td>     
                  <td> <a href="bicicleta/update/<%= item.id %>">modificar</a> <a href= 'bicicleta/delete/<%= item.id %>' >  eliminar</a> </td>

            </tr>     
                  <% }) %>
            
        </tbody>
    </table>


      
    </div>
  </section>
  

</div>

  
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

  <script src="/javascripts/map.js"></script>
 
   
 
</body>
</html>