
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.menu{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background: white ;
}

.menu ol{
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  
  
}

.menu li{
  margin: 0px 20px;
}

.menu  a{
  text-decoration: none;
  color: black;
}

.menu a:hover{
  border-bottom: 2px solid black;
}

.section{
  padding: 20px 20px; 
  display: grid;
  grid-template-columns: repeat(12,1fr);
  background: rgb(255, 255, 255);
  height: 585px;
  gap: 20px;
  
}

.form{
  grid-column: 1/6;
  grid-row: 1/2;
  background: rgb(34, 32, 32);
  padding: 20px 50px; 
  text-align: center;

}

label{
  color: white;
  font-size: 20px;

  
}

.form-input{
 margin-top: 50px;
}

.input{
  
  width: 100%;
  height: 40px;
  

  
}

.input-button{
  width: 100%;
  height: 40px;
  background: yellow;
  border: none;
}

.input-button:hover{
  background: rgb(238, 67, 67);
}

#mapid{
  
  height: auto;
  grid-column: 7/13;
  
}

.list {
  height: 600px;
  padding: 60px 20px;
  background:  rgb(250, 249, 249);
  margin: 20px;
}

.list-tablet{
  width: 100%;
  text-align: center;
  padding: 20px;
  border-collapse: collapse;
}

 th , td {
  border-bottom: 1px solid #999;
   width: 25%;
   height: 60px;
}
