.container{
    background: rgb(32, 26, 26);
    width: 400px;
   
    padding: 20px;
}

label{
    font-size: 20px;
    color: white;
    }

.input{
    width: 100%;
    height: 30px;
}

.div{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  
}


.input-button{
    width: 101%;
    height: 40px;
    background: yellow;
    border: none;
  }
  